/* Importing Roboto font from Google CDN */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/* Common CSS code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* CSS for Main Frame Container */
.frame-container {
    position: relative;
    width: 1000px;
    height: 700px;
    background: #000;
}

/* CSS for App Title */
.app-title {
    position: absolute;
    width: 660px;
    height: 62px;
    left: 19px;
    top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}

/* CSS for Video Window */
.video-window {
    position: absolute;
    width: 660px;
    height: 480px;
    left: 19px;
    top: 60px;
    background: #BFAED2;
    border-radius: 10px;
}

/* CSS for Webcam OFF Text */
.webcam-off-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    width: 504px;
    height: 67px;
    left: 92px;
    top: 272px;
}

.webcam-off-text h1 {
    position: static;
    width: 490px;
    height: 47px;
    left: 10px;
    top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #433D3D;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

/* CSS for Volume Title */
.volume-title {
    position: absolute;
    width: 600px;
    height: 45px;
    left: 47px;
    top: 549px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}

/* CSS for Volume Container */
.vol-container {
    position: absolute;
    width: 660px;
    height: 86px;
    left: 19px;
    top: 594px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* CSS for the Volume Slider Container */
.volume-slider {
    height: 40px;
    width: 520px;
    display: flex;
    align-items: center;
}

/* CSS for the Volume Slider Input Range */
.volume-slider input {
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    background-color: #000;
}

/* CSS for the Volume Slider Input Range Thumb*/
.volume-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 46px;
    width: 27px;
    border: 5px solid #000;
    border-radius: 91px;
    background: #A763F6;
}

/* CSS for the Volume Number Value */
.volume-value {
    width: 55px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

/* CSS for Side Panel Background */
.side-panel-bg {
    position: absolute;
    width: 288px;
    height: 670px;
    left: 696px;
    top: 10px;
    background: #A763F6;
    border-radius: 20px;
}

/* CSS for Button Class */
.button {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3A2D80;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    transition: background 0.3s;
}

/* CSS for Webcam Img */
.button img {
    transition: transform 0.3s;
}

.button:hover {
    border: 2px solid black;
    background: transparent;
}

.button:hover img {
    transform: translateX(5px);
}

/* CSS for Open Webcam */
.open-webcam {
    position: absolute;
    width: 266px;
    height: 59px;
    left: 707px;
    top: 31px;
}

/* CSS for Close Webcam */
.close-webcam {
    position: absolute;
    width: 266px;
    height: 59px;
    left: 707px;
    top: 110px;
}

/* CSS for Stat Board Background */
.stat-board-bg {
    position: absolute;
    width: 266px;
    height: 362px;
    left: 707px;
    top: 187px;
    background: #000000;
    border-radius: 20px;
}

/* CSS for Statistics Title */
.stat-title {
    position: absolute;
    width: 191px;
    height: 34px;
    left: 746px;
    top: 204px;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: #A763F6;
}

/* CSS for individual stats */

.single-stat {
    position: absolute;
    width: 206px;
    height: 34px;
    left: 736px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.fps {
    top: 253px;
}

.xpos1 {
    top: 312px;
}

.ypos1 {
    top: 371px;
}

.xpos2 {
    top: 430px;
}

.ypos2 {
    top: 490px;
}