/* Importing Roboto font from Google CDN */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/* Common CSS code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

body {
    background: #000;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 1000px;
    height: 700px;
}

/* CSS for App Title */
.app-title {
    position: absolute;
    width: 660px;
    height: 62px;
    left: 19px;
    top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}

/* CSS for Video Window */
.video-window {
    position: absolute;
    width: 660px;
    height: 480px;
    left: 19px;
    top: 60px;
    background: #BFAED2;
    border-radius: 10px;
}

/* CSS for Webcam OFF Text */
.webcam-off-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    width: 504px;
    height: 67px;
    left: 92px;
    top: 272px;
}

.webcam-off-text h1 {
    position: static;
    width: 490px;
    height: 47px;
    left: 10px;
    top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #433D3D;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

/* CSS for Volume Title */
.volume-title {
    position: absolute;
    width: 600px;
    height: 45px;
    left: 47px;
    top: 549px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}

/* CSS for Volume Container */
.vol-container {
    position: absolute;
    width: 660px;
    height: 86px;
    left: 19px;
    top: 594px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* CSS for the Volume Slider Container */
.volume-slider {
    height: 40px;
    width: 520px;
    display: flex;
    align-items: center;
}

/* CSS for the Volume Slider Input Range */
.volume-slider input {
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    background-color: #000;
}

/* CSS for the Volume Slider Input Range Thumb*/
.volume-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 46px;
    width: 27px;
    border: 5px solid #000;
    border-radius: 91px;
    background: #A763F6;
}

/* CSS for the Volume Number Value */
.volume-value {
    width: 55px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}