/* Importing Roboto font from Google CDN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* Common CSS code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

body {
    background: #000;
}